# HPLIP udev rules file for HP printer and all-in-one products.
#
# The 40-hplip.rules file replaces the 55-hpmud.rules on newer distros with udev ACL support.
# For older distros that use HAL ACL support use the 55-hpmud.rules. 
#

ACTION!="add", GOTO="hpmud_rules_end"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="pid_test"
SUBSYSTEM!="usb_device", GOTO="hpmud_rules_end"

LABEL="pid_test"

# Check for AiO products (0x03f0xx11).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??11", GROUP="lp", ENV{ID_HPLIP}="1"

# Check for Photosmart products without wildcard since cameras and scanners also used (0x03f0xx02). 
# The xx02 pid has been retired so this explicit list should not change.
# photosmart_d2300_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c302", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_100
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3802", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_1115
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3402", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_1215
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3202", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_1218
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3302", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_130
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3902", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_1315
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3602", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_140_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1002", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_230
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3502", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_240_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1102", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_320_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1202", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_330_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1602", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_370_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1302", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_380_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1702", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_420_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1502", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_470_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1802", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7150
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3a02", GROUP="lp", ENV{ID_HPLIP}="1"
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3b02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7200_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b002", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7345
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2002", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7350 
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3c02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7400_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b802", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7550
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="3e02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7600_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b202", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7700_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b402", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7800_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c002", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_7900_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="b602", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_8000_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c102", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_8100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="ba02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_8200_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c202", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_8400_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="bb02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_8700_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="bc02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a310_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1d02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a320_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1e02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a430_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1902", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a440_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1f02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a510_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1a02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a520_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2602", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a530_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2b02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a610_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1b02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a620_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2702", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a630_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2c02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a710_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="1c02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_a820_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="2902", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_d5060_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c802", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_d5100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c402", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_d6100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c502", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_d7100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c602", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_d7300_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="c702", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_pro_b8300_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="be02", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_b8800_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="d002", GROUP="lp", ENV{ID_HPLIP}="1"
# photosmart_pro_b9100_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="bd02", GROUP="lp", ENV{ID_HPLIP}="1"
# Photosmart_B8500_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="d102", GROUP="lp", ENV{ID_HPLIP}="1"
# Photosmart_A640_series
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="7902", GROUP="lp", ENV{ID_HPLIP}="1"

# Check for Business Inkjet products (0x03f0xx12).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??12", GROUP="lp", ENV{ID_HPLIP}="1"
# Check for Deskjet products (0x03f0xx04).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??04", GROUP="lp", ENV{ID_HPLIP}="1"
# Check for LaserJet products (0x03f0xx17).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??17", GROUP="lp", ENV{ID_HPLIP}="1"
# Check for LaserJet products (0x03f0xx2a).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??2a", GROUP="lp", ENV{ID_HPLIP}="1"
# Check for DesignJet product (0x03f0xx14).
SYSFS{idVendor}=="03f0", SYSFS{idProduct}=="??14", GROUP="lp", ENV{ID_HPLIP}="1"

LABEL="hpmud_rules_end"

